/*
 * Title: app.css
 * Description: contains the styles for the main application
 * Date: 06th January 2013
 * Version: 0.1
 * -------------------------------------------------
 *
 * TABLE OF CONTENTS
 * =================
 *
 * 1. 		Body Styles
 * 	  1.1. 	Generic Styles 	
 * 2. 		Logo
 * 3. 		Navigation
 *	  3.1.  Logout styling
 * 4. 		Profile Page Styling
 * 	  4.1.  Recent Activity Styling
 * 5. 		Schedule Page Styling
 * 	  5.1.  Add Session Styling
 * 6. 		Progression Page Styling
 *	  6.1   Progression Chart Styling
 *	  6.2	Statistics Styling 
 * 7. 		Demonstrations Styling
 *	  7.1   Human Body Styling
 * 8. 		Form Styling
*/

/* 
----------------------------------
1. Body Styles
----------------------------------
*/

body {
	font-size: 16px;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	background: #f8f8f8;
}
/*
-------------------
1.1. Generic Styles
-------------------
*/

.col {
	margin-right: 25px;
}

.b-left {
	border-left: 1px solid #eee;
}

.b-right {
	border-right: 1px solid #eee;
}

.b-top {
	border-top: 1px solid #eee;
}

.b-bottom {
	border-bottom: 1px solid #eee;
}

.container {
	padding-bottom: 50px;
	width: 960px;
	height: auto;
}

.margin-top {
	margin-top: 20px;
}

.profile-margin {
	margin-left: 100px;
}

.button {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	background-color: #04af93;
	color: white;
	text-align: center;
	font-size: 22px;
	font-family: 'Roboto Condensed', sans-serif;
}

.button:hover {
	background: #ccc;
	color: #313131;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*
----------------------------------
2. Logo
----------------------------------
*/

.logo {
	padding: 20px 0 20px 5px;
}

.logo img {
	max-width: 70px;
}

/*
----------------------------------
3. Navigation
----------------------------------
*/

.nav-container {
	width: 100px;
	height: auto;
}

.nav-fix {
	margin-top: 80px;
}

.current {
	background-color: #222;
}

nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: block;
	width: 80px;
	height: 100%;
	background-color: #313131;
}

nav ul {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}

nav li {
	position: relative;
	display: block;
	width: 100%;
}

nav li span {
	position: absolute;
	top: 0px;
	left: 80px;
	z-index: 999;
	display: none;
	padding: 0 10px 0 10px;
	width: auto;
	height: 100%;
	background: #04af93;
	color: white;
	line-height: 63px;
}

nav li a {
	display: block;
	color: #FFF;
	list-style: none;
	font-weight: 300;
}

nav li a:hover {
	background: #04af93;
}

nav li a:hover span {
	display: block;
}

.schedule {
	padding: 22px;
	text-align: center;
	font-size: 35px;
	line-height: 63px;
}

.progress {
	padding: 22px 22px 22px 18px;
	text-align: center;
	font-size: 45px;
	line-height: 63px;
}

.demonstrations {
	padding: 22px;
	text-align: center;
	font-size: 35px;
	line-height: 63px;
}

/*
-------------
3.1. Logout styling
------------- 
*/
.logout-container {
	position: fixed;
	bottom: 10px;
	z-index: 999;
	padding: 22px 22px 22px 27px;
}

.logout {
	color: #fff;
	font-size: 35px;
}

.logout-text {
	position: fixed;
	left: 23px;
	clear: both;
	color: #fff;
	font-size: 12px;
}

/*
-----------------------------------------
4. Profile Page Styling
-----------------------------------------
*/

.profile-info-container {
	overflow-y: auto;
	margin-top: 20px;
	width: 800px;
	border: 1px solid #eee;
	background-color: #FFF;
}

.profile-pic-container {
	float: left;
	padding: 20px;
	width: 200px;
	height: 200px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.profile-picture, .profile-picture img {
	width: 100%;
	height: 100%;
	background-image: url('../images/assets/profile-picture.jpg');
	background-size: cover;
}

.profile-name {
	float: left;
	padding: 20px;
	width: 238px;
	height: 80px;
}

.profile-email {
	float: left;
	padding: 20px;
	width: 517px;
	height: 79px;
	border-bottom: 1px solid #eee;
}

.profile-subcontainer {
	float: left;
	padding: 20px;
	width: 159px;
	height: 180px;
}

.total-session-container {
	margin: 0 auto;
	margin-top: 30px;
	width: 100px;
	height: 100px;
}

.total-sessions {
	width: 100px;
	height: 100px;
	border-radius: 55px;
	color: #FFF;
	text-align: center;
	font-size: 46px;
	line-height: 95px;
}

.trophy-container {
	margin: 0 auto;
	margin-top: 30px;
	width: 67px;

}

.trophy {
	color: #D8B058;	
	text-align: center;
	font-size: 72px;
	line-height: 90px;
}

.bmi-container {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	width: 100px;
	height: 100px;
}

.bmi {
	width: 95px;
	height: 95px;
	border: 5px solid #ccc;
	border-radius: 55px;
	color: #666;
	text-align: center;
	font-size: 35px;
	line-height: 95px;
}

.memberfrom-container {
	margin: 0 auto;
	width: 130px;
	height: 70px;
}

.memberfrom {
	margin-top: 45px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #313131;
	text-align: center;
}

.memberdate {
	font-size: 20px;
	padding-top: 22px;
	letter-spacing: 1px;
}

/*
-------------
4.1. Recent Activity Styling 
------------- 
*/

.recent-activity-container {
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 800px;
	border-top: 1px solid #eee;
}

.recent-activity-date {
	float: left;
	margin-top: 30px;
	padding: 10px;
	width: 100px;
	height: auto;
	border-radius: 5px;
	background-color: rgb(78, 74, 99);
	color: #FFF;
	text-align: center;
}

.recent-activity-text {
	float: left;
	margin-top: 40px;
	margin-left: 15px;
}

.recent-actvity-icon {
	float: right;
	margin-top: 35px;
	font-size: 30px;
}

.recent-activity-link {
	color: #ccc;
}

.recent-activity-link:hover {
	color: rgb(78, 74, 99);
}

/*
---------------------------------------------------------
5. Schedule Page Styling
---------------------------------------------------------
*/
.schedule-stats-container {
	margin: 0 auto;
	width: 600px;
	height: 90px;	
	border: 1px solid #eee;
	background-color: #fff;
}

.schedule-stats {
	float: left;
	height: 100%;
	margin-top: 10px;
	width: 199px;
	font-size: 18px;
}

.schedule-stat-text {
	margin-top: 10px;
	color: #04af93;
	font-weight: 700;
	font-size: 22px;
}

/*
-------------------
5.1. Add Session Styling
-------------------
*/

.addsession-container {
	padding:20px;
	width: 700px;
	overflow-y: auto;
	margin: 0 auto;
	border: 1px solid #eee;
	border-radius: 5px;
	background-color: #FFF;
}

.addsession-exercise-holder {
	float: left;
	width: 100%;
}

.exercise-select-holder, .datepicker-holder {
	float: left;
	width: auto;
	margin-bottom: 5px;
	padding: 5px 0 0 0px;
}

.datepicker-holder {
	clear: left;
	width: auto;
	margin-bottom: 5px;
	padding: 5px 0 0 0px;
}

.exercise-name-list {
	clear: left;
	width: 95%;
	color: #444444;
	border: 1px solid #ccc;
	background: #eee;
	border-radius: 3px;
	padding: 15px 0 15px 10px;
	margin: 0px 0 10px 0;
}

#scheduledExercises {
	margin-top: 10px;
}

.add-session-link a {
	float: right;
	margin: 10px 0 0 20px;
	color: #444;
}

.add-icon {
	font-size: 24px;
}

.add-session-link a.info-icon {
	font-size: 16px;
	padding-top: 3px;
}

.sessiontype-container {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.scoremessage, .addmessage, .profilepicmessage {
	position: fixed;
	top: 0;
	padding-top: 15px;
	margin-left: 0px !important;
	margin: 0 auto;
	padding-bottom: 15px;
	width: 100%;
	font-size: 22px;
	text-align: center;
	background-color: #04af93;
	color: white;
}

.score-errormessage, .wr-errormessage {
	position: fixed;
	top: 0;
	padding-top: 15px;
	margin-left: 0px !important;
	margin: 0 auto;
	padding-bottom: 15px;
	width: 100%;
	font-size: 22px;
	text-align: center;
	background-color: #A45545;
	color: white;
}

.remove-exercise i {
	font-size: 22px;
	margin-left: 5px;
	color: #A45545;
}

/*
---------------------------------
6. Progression Stlying 
--------------------------------- 
*/

.tabs-col {
	width: 48.5%;
	float: left;
}

.compound-col {
	width: 45%;
	float: left;
}

.filter-tabs-col {
	width: 50%;
	float: left;
}

#compoundLineChart {
	margin: 52px 0 0 -35px;
}

#strengthLineChart {
	margin-top: 10px;
}

.progressionFilter-holder {
	float: left;
	margin-bottom: 5px;
	padding: 5px 0 0 0px;
	width: auto;
}

.strength-lineChart {
	display: block;
	position: relative;
}

#graphError {
	clear: left;
	width: auto;
}

.nograph {
	float: left;
	width: auto;
	color: white;
	background: #A45545;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
}

/*
-------------------
6.1. Chart Styling
-------------------
*/
.linechart-holder {
	float: left;
	margin: 0 0 30px;
}

.piechart-holder {
	clear: left;
	margin-left: 60px;
}

.key-container {
	width: 80%;
	padding-left: 100px;
}
.line-key {
	width: 112px;
	margin: -10px 0 0 30px;
	float: left;
}

.pie-key {
	width: 112px;
	margin: 20px 0 0 30px;
	float: left;
}

/*
-------------------
6.2. Statistics Styling
-------------------
*/

.statistics-container {
	clear: left;
	width: auto;
	margin-left: 15px; 
	padding: 50px 20px 20px 20px;
	overflow: auto;
}

.statistics-item {
	width: 200px;
	float: left;
	text-align: center !important; 
	padding: 0px 10px 25px 10px;
	overflow: auto;
}

.statistics-item i {
	font-size: 50px;
}

.statistic-text {
	font-size: 28px;
	height: 10px;
}

/*
---------------------------------
7.Demonstration Page Styling 
--------------------------------- 
*/

.demo-filtercontainer {
	width: 400px;
	padding: 15px;
	overflow-y: auto;
	margin: 0 auto;
	background: white;
	border-radius: 3px;
	border: 1px solid #eee;
}

.demo-form {
	width: 132px;
	margin: 0 auto;
}

#exerciseList {
	margin: 50px auto 0;
	width: 100%;
}

.exercises {
	width: 262px;
	float: left;
	overflow-y: auto;
	padding: 15px;
	background-color: #FFF;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

.exercise-title {
	width: 100%;
	font-size: 18px;
	margin: 5px 0 5px;
	border-bottom: 1px solid #eee;
}

.exercise-info {
	float: left;
	overflow: auto;
	margin-bottom: 5px;
	width: 100%;
}

.demonstration-video {
	width: 100%;
	overflow: auto;
}

/*
-------------------
7.1. Human Body Styles
-------------------
*/

.humanbody {
	position: relative;
	z-index: 998;
}


/*
---------------------------------
8. Form Styling 
--------------------------------- 
*/

label {
	margin-bottom: 20px;
}

input[type='text'].fullwidth-input {
	width: 100%;
}

input[type='text'] {
	padding: 10px 0 10px 5px;
	width: auto;
	border-radius: 5px;
	background-color: #eee;
	border: 1px solid #ccc;
}

input[type='submit'] {
	padding: 11px 10px 11px 10px;
	width: auto; 
	border: none;
	border-radius: 5px;
	background-color: #04af93;
	color: white;
}

input[type='submit']:hover {
	background-color: rgb(78, 74, 99);
	color: white;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

select {
	clear: left;
	margin-top: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

input[type='radio'] {
	margin-left: 10px;
}

.workout-type-radio {
	float: left;
	margin-top: 2px;
}

input[type='text'].notes {
	width: 72%;
	float: right;
	margin-top: 15px;
}

input[type='text'].score-input {
	width: 70px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#setList {
	width: 100%;
	height: 200px;
	overflow-y: auto; 
}

#removeSet {
	display: block;
	margin-top: 30px;
}

.score-center {
	width: 260px;
	overflow-y: auto;
	margin: -20px auto;
}

.effort-center {
	width: 240px;
	margin: 15px auto;
}

.effort-caption {
	margin-top: -3px;
	padding-right: 0px;
	padding-left: 10px;
}

.select-exercises {
	width: 260px;
}

.datepicker {
	margin-top: 10px;
}

/*
---------------------------------
8. Validation Styling 
--------------------------------- 
*/
.errors {
	float: left;
	width: auto;
	height: auto;
	overflow: hidden;
	color: #A45545;
}

.googlecal a {
	color: #313131;
	display: block;
	text-decoration: underline;
	padding-bottom: 10px;
}

.e-mbot {
	margin-bottom: 5px;
} 