/*
 * Title: Front.css
 * Description: contains the styles for the landing/front of the website
 * Date: 07th January 2013
 * Version: 0.1
 * -------------------------------------------------
 *
 * TABLE OF CONTENTS
 * =================
 *
 * 1. 		Body Styles
 * 2. 		Header Styles
 * 	2.1 	Navigation Styles	
 * 3. 		Feature Styles
 * 4. 		Login Styling
 * 5. 		Form Styling
*/

/*
-----------------------
1. Body Styles
-----------------------
*/

body {
	height: 100%;
	font-size: 16px;
	font-family: 'Roboto Condensed', 'Helevetica', 'Arial', 'Lucia...', sans-serif;
	font-weight: 300;
	background: url("../images/bg.jpg") 50% 50% fixed;
	background-size: cover;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	color: white;
	font-size: 36px;
}

h4 {
	text-align: center;
	font-weight: 300;
	color: white;
	font-size: 20px;
}

p {
	font-size: 17px;
}

.container {
	margin: 0 auto;
	width: 960px;
}

.wrapper {
	margin-top: 72px;
	color: white;
}

.center {
	margin: 0 auto;
}

/*
-----------------------
2. Header Styles
-----------------------
*/

header {
	position: fixed;
	top: 0;
	padding-top: 10px;
	width: 100%;
	height: 60px;
	background-color: #313131;
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
}

.logo {
	float: left;
	width: auto;
	margin-top: 1px;
	font-size: 16px;
}
/*
-----------------------
2.1 Navigation Styles
-----------------------
*/
nav {
	float: right;
	margin: 5px 20px 0 0;
}

nav ul {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav a, nav a:visited {
	color: white;
	padding: 10px;
	border-radius: 3px;
	background-color: #04af93;
	font-size: 14px;
	display: block;
}

nav a:focus, nav a:hover {
	background: #ccc;
	color: #313131;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

nav a.signup {
	background: transparent;
}

nav a.signup:hover {
	color: white;
	text-decoration: underline;
}

.button.signup {
	padding: 10px;
	border-radius: 3px;
	background-color: #04af93;
	font font-weight: 300;
	font-size: 22px;
	color: white;
	text-decoration: none;
	margin: 0 auto;
}

.button.signup:hover {
	background: #ccc;
	color: black;
}

/*
-----------------------
3. Feature Styles
-----------------------
*/
.features {
	margin: 0 auto;
	margin-top: 20px;
	width: 800px;
}

.icon-col {
	margin-right: 100px;
}

.features h3 {
	margin-bottom: 10px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 22px;
}

.small-linebreak {
	clear: both;
	margin: 0 auto 10px;
	margin-bottom: 10px;
	width: 100px;
	border-top: 2px solid white;
}

.lead-icon {
	color: white;
	font-size: 120px;
	line-height: 160px;
}

.lead-icon.typicons {
	padding-top: 50px;
	font-size: 180px;
	line-height: 110px;
}

.progress-icon {
	float: left;
	margin-top: 40px;
	width: 200px;
	text-align: center;
}

.schedule-icon {
	float: left;
	margin-top: 40px;
	width: 200px;
	text-align: center;
}

.demonstration-icon {
	float: left;
	margin-top: 40px;
	width: 200px;
	text-align: center;
}

/*
---------------------------------
5. login & sign up styling 
--------------------------------- 
*/

.login-container, .signup-container {
	width: 400px;
	padding: 20px 20px 20px 12px;
	margin: 100px auto;
	background: #f8f8f8;
	border-radius: 5px;
	border: 1px solid #eee;
}

.login-error {
	color: #A45545;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	width: 286px;
}


/*
---------------------------------
5. Form Styling 
--------------------------------- 
*/

label {
	margin-bottom: 20px;
}

input[type='text'].fullwidth-input, input[type='password'].fullwidth-input, input[type='email'].fullwidth-input {
	width: 100%;
}

input[type='text'], input[type='password'], input[type='email'] {
	padding: 10px 0 10px 5px;
	width: auto;
	border-radius: 5px;
	background-color: #eee;
	border: 1px solid #ccc;
}

input[type='submit'] {
	padding: 11px 10px 11px 10px;
	width: auto; 
	border: none;
	border-radius: 5px;
	background-color: #04af93;
	color: white;
}

input[type='submit']:hover {
	background-color: rgb(78, 74, 99);
	color: white;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

select {
	clear: left;
	margin-top: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

input[type='radio'] {
	margin-left: 10px;
}

.s-center {
	width: 68px;
	margin: 0 auto;
}

.errors {
	float: left;
	width: auto;
	height: auto;
	overflow: hidden;
	color: #A45545;
}

.e-mbot {
	margin-bottom: 5px;
} 
