/*
 * Title: global.css
 * Description: contains the styles for global styles
 * Date: 06th January 2013
 * Version: 0.1
 * -------------------------------------------------
 *
 * TABLE OF CONTENTS
 * =================
 *
 * 1. 		Imported Files
 *    1.1. 	Fonts
 * 2. 		Generic Styles
 *    2.1. 	Text Styles 
 *    2.2. 	Background Styles 	
 * 	  2.3 	Content Styles

/* 
 * -------------------
 * 1. Imported Files
 * -------------------
*/

@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|maki|typicons);

/* 
--------------------------------------------
1.1. Fonts
--------------------------------------------
*/

/* entypo */
[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

/* maki */
[class*="maki-"]:before {
	font-family: 'maki', sans-serif;
}

/* typicons */
[class*="typicons-"]:before {
	font-family: 'Typicons', sans-serif;
}

i {
	font-style: normal;
}

/*
--------------------------------------------
2. Generic styles
--------------------------------------------
*/
h2 {
	color: #444;
	font-weight: 300;
	font-size: 26px;
}

h3 {
	color: #666;
	font-weight: 300;
	font-size: 20px;
}

h4 {
	color: #666;
	margin: 0;
	font-weight: 300;
	font-size: 18px;
}

a, a:visited {
	text-decoration: none;
}

a:hover, a:focus {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

br.clear {
	display: block;
	clear: both;
	width: 100%;
}

/*
------------------
2.1. Text Styles
------------------
*/

.t-white {
	color: #FFF;
}

.t-center {
	text-align: center;
}

.t-black a, .t-black {
	color: #444444;
}

/*
------------------
2.2. Background Styles
------------------
*/
.purple-bg {
	background: #4E4A63;
}

.light-green-bg {
	background: #62BD9C;
}

.red-bg {
	background: #A45545;
}

.orange-bg {
	background: #D97228;
}

.green-bg {
	background: #04af93;
}

.light-purple-bg {
	background: #313131;
}

/*
------------------
2.3. Content Styles
------------------
*/
.c-left {
	float: left;
}

.c-right {
	float: right;
}

.s-center {
	margin: 0 auto;
	width: 95px;
}

.m-top {
	margin-top: 20px;
}

.thin-line {
	clear: both;
	margin: 5px auto;
	margin-bottom: 10px;
	width: 100%;
	border-top: 1px solid #ccc;
}

.full-linebreak /*hr*/{
	clear: both;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 100%;
	border-top: 2px solid #ccc;
}