a {
	text-decoration: none;
}

.tabs {
	overflow: auto;
}

.tabs li,.tabs li,.tabs li {
	float: left;
	margin-right: 2px;
	list-style: none;
}

.tabs li a,.tabs li a,.tabs li a {
	display: block;
	padding: 17px 30px;
	background-color: #04af93;
	text-decoration: none;
	color: white;
}

.tabs li a:hover,.tabs li a:hover,.tabs li a:hover {
	background: rgb(78, 74, 99);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.tabs-container {
	clear: left;
	width: 100%;
	overflow: auto;
	padding: 20px;
	margin-top: 20px;
	background-color: white;
	border: 1px solid #eee;
}

.current-tab {
	background: white !important;
	color: #655c89 !important;
}