/*
----------------
Modal styling 
----------------
*/

.modal {
	display: none;
	width: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	padding: 0px 20px 20px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: relative;
	z-index: 99;
	margin-right: -300px;
	right: 50%;
}
a.close-modal {
	position: absolute;
	top: 2px;
	right: -1px;
	display: block;
	width: 16px;
	height: 16px;
	z-index: 999;
	text-indent: -9999px;
	background: url(../../images/assets/close.png) no-repeat 0 0;
}
.modal-spinner {
	display: none;
	width: 64px;
	height: 64px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -32px;
	margin-top: -32px;
}